@import url('https://fonts.googleapis.com/css2?family=Fredoka&display=swap');

html{
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: 'Fredoka', sans-serif;
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(152, 152, 152, 1) 50%, rgba(0, 0, 0, 1) 100%);
}

.App {
  text-align: center;
  color: white;
  /* background-color: black; */
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 420px) {
  .all-movies {
    min-width: 200px;
  }

  .all-movies {
    max-width: 380px;
  }

  .movie-card {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 200px;
    min-width: 250px;
  }

  .movie-poster {
    max-width: 110px;
  }

  #nav-ul {
    margin-right: 15px;
  }
}